*{
	margin: 0px;
	padding: 0px;
	color: white;
	box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}
html,body{
	font-family: roboto;
	width: 100%;
	height: 100%;
	background-color: #202020;
  font-size: 100%;
}

#App{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.elemento{
  flex-basis: 25%;
}

.loadBar{
	position: absolute;
	width: 0px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 98;
}
.overlay{
	display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: inherit; height: inherit;
  /*display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-self: flex-end;*/
	z-index: 99;
}

.overlay .controls{
  flex-basis: 70%;
	background-image: url(../assets/layout/buttons/play.png);
	background-size: 35% 50%;
	background-position: center center;
	background-repeat: no-repeat;
  opacity: 0.6;
}

.overlay .contenido{
	padding: 0 10px;
  flex-basis: 30%;
  display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: flex-end;
}

.elemento img{
  width: 100%;
}
